.MessageBox {
    padding: 10px 25px;
    border-bottom: 1px solid black;
}

.MessageBox.You {
    background: #8d8d8d;
}

.MessageBox:hover {
    background: #414141;
}

.Username {
    font-size: 18px;
    cursor: pointer;
}

.You .Username:after {
    color: #ffffff;
    content: ' (YOU)';
}

.Timestamp {
    font-size: 14px;
    color: #ebf5ff;
}

.Message {
    color: white;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    word-wrap: break-word;
}

@media (max-width: 500px) {
    .Username {
        display: block;
    }

    .Timestamp {
        display: block;
    }
    
    .Spaces {
        display: none;
    }
}